<mat-form-field appearance="outline">
  <mat-select panelClass="dropdown" placeholder="Select">
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
    <mat-option value="Option 1"> Option 1 </mat-option>
    <mat-option value="Option 1"> Option 2 </mat-option>
    <mat-option value="Option 1"> Option 3 </mat-option>
  </mat-select>
</mat-form-field>
